*{
background: linear-gradient(#b6a5c0, #f8c0d1);
font-family: 'Inter', sans-serif;
font-family: Inter;
font-size: 32px;
font-weight: 400;
line-height: 48px;
letter-spacing: 0em;
text-align: left;}

.logo-alura {
    margin-left: 10px;
    padding-top: 10px;
    width:2%;
}
.main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}
.text-area{
    margin-left: 30px;
    border: none;
    color: black;
    margin-top: 90px;
    text-transform: lowercase;

}
::placeholder {color: black;}
    .text-area:focus {
        outline: none
}
.mensagem{
    background-image: url(menina.jpg);
    position: absolute;
width: 400px;
height: 500px;
left: 800px;
top: 40px;
box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
border-radius: 32px;



}
.mensagem:focus {
    outline:none 
}
.botoes{
    display: flex;
    margin-top: 18px;
    }
    .btncriptografar{
        background-color: #d8dfe8;
        border: 1px solid #6806a1;
        border-radius: 24px;
        color: #6806a1;
        cursor: pointer;
        height:67px;
        margin-left: 30px;
        width: 328px;
    
    }
    .btndescriptografar{
        background-color: #d8dfe8;
        border: 1px solid #6806a1;
        border-radius: 24px;
        color: #6806a1;
        cursor: pointer;
        height:67px;
        margin-left: 30px;
        width: 328px;
    
    }
    #btn-copiar{
        background-color: #d8dfe8;
        border: 1px solid #6806a1;
        border-radius: 24px;
        color: #6806a1;
        cursor: pointer;
        height:67px;
        left: 500px;
        margin-left: 850px;
        margin-top: 100px;
        width: 320px;
        position:static;
         
         
    
    }
    .informação{
        color:black;
        font-size:18px;
        margin-left: 30px;
    }
    .Copyright{
           text-align: center; 
        color: black;
            font-size: 13px;
            margin: 20px 0 0;

    }
    